html, body {
    margin: 0px;
    padding: 0px;

    font: 14px Verdana, helvetica, arial, freesans, clean, sans-serif;

    background-image: url("../img/back_shadow.png");
    background-repeat: repeat-y;
    background-position: center;
}

h1, h2 {
    margin: 0px;
    padding: 0px 0px 5px 0px;

    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

br {
    clear: both;
}

a {
    color: #000000;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3d48c4;
}

/* ========================================================================== */

#headerwrapper {
    background-image: url("../img/back_02.png");
}

#headerwrapper #header {
    margin: 0px auto;
    padding: 0px;
    width: 1009px;

    background-image: url("../img/back.png");
    background-color: #fff;
}


#headerwrapper #header #logo {
    width: 391px;
    height: 100px;

    /*background-image: url("../img/logo.png");
    background-repeat: no-repeat;*/
}

/* ========================================================================== */

#menu-wrapper {
    margin: 0px auto;
    width: 1000px;

    font: 16px helvetica, Arial;
}

.menu {
    margin: 0px;
    padding: 0px;

    list-style: none;
}

.menu li {
    margin-right: 2px;
    float: left;

    background-image: url("../img/back_menu.png");
}

.menu a {
    padding: 10px 15px;
    display: block;

    text-decoration: none;
    font-weight:bold;
    color: #fff;
}

.menu a:hover {
    color: #ffda00;
    background-color: transparent;
}

/* ========================================================================== */

#searchbox {
    padding: 8px 9px;
    float: right;
    width: 340px;

    background-image: url("../img/back_menu.png");
}

#searchbox input {
    margin: 0px;
}

#searchbox input.submit {
    padding: 2px 10px;

    background-image: url("../img/button_back.png");
    background-repeat: repeat-x;

    font-weight: bold;
    color: #ffffff;
}

.search input.text {
    padding: 4px;
    width: 260px;

    border: 0px;
}

/* ========================================================================== */

.bodywrapper {
    margin: 0px auto;
    padding: 0px;
    width: 1000px;
}

.section {
    margin-top: 10px;
    padding: 5px;

    border: 1px solid #ccc;

    background-image: url("../img/section_back.png");
    background-repeat: repeat-x;
    background-color: #fff;
}

/* ========================================================================== */

#basic-usage {
    float: left;
    width: 625px;
}

#documentation {
    float: right;
    width: 345px;
}

/* ========================================================================== */

.highlight pre {
    padding: 5px;
    display: block;

    color: #fff;

    font: 12px Monaco, monospace;
    border-radius: 5px;

    background-image: url("../img/pre_back.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #333;
}

/* ========================================================================== */

div.footer {
    margin: 0px auto;
    margin-top: 15px;
    padding: 5px;
    width: 987px;

    text-align: center;

    background-image: url("../img/section_back.png");
    background-repeat: repeat-x;
    border-top: 1px solid #ccc;
}

/* ========================================================================== */

div.sphinxsidebar, div.related {
    display: none;
}


a.headerlink {
    display: none;
}

